body {
    min-width: 450px;
}

select {
    display: block;
    width: 100%;
}

input[type=checkbox] {
    margin-bottom: 3px;
}

#login {
    padding: 10px 25px;
}

.header {
    padding-bottom: 0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

.container {
    max-width: 40rem;
}

.row {
    padding: 10px 0;
}

#saved {
    opacity: 0;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.10rem;
}

main {
    display: none;
    padding: 5px 0;
    border-bottom: .05rem solid #e5e5e5;
    font-size: 0.9rem;
}
 main hr {
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
 }